.container
  %h2= "Shoot at #{@spot.name}"
  #shoot_at_spot.row
    - @spot.shoots.each do |shoot|
      .col-lg-4
        .shoot
          = link_to [shoot.spot, shoot] do
            .content
              = image_tag shoot.photos.first.file.medium.url
              %infos
                %h3= shoot.spot.name
                %i= shoot.shooted_at
                .more= "#{shoot.photos.count} Shoots"