.container
  %h1= "Shoot at #{@spot.name} (#{@spot.country}) the #{@shoot.shooted_at}"
  %h3= "#{@shoot.photos.count} photos"
  .row
    - @shoot.photos.each do |photo|
      .col-sm-3
        .shoot
          .content
            = image_tag photo.file.small.url
          .overlay{style: 'display: none'}
            = link_to '#' do
              %i.icon-resize-full-circle
            = link_to '#' do
              %i.icon-basket
            = link_to '#', class: 'share fb-share', data: { url: request.protocol + request.host_with_port + photo.file.big.url } do
              %i.icon-facebook-squared
