.container
  %h2 Register
  .row
    .col-lg-6
      = form_for @user, url: registration_path(@user), html: { class: 'form-horizontal' } do |f|
        = render partial: 'users/form_new', locals: { f: f }
        .form-group
          .col-sm-offset-3.col-sm-9
            = f.submit 'Register', class: 'btn btn-primary'