.container
  %ol.breadcrumb
    %li= link_to 'Spots', [:admin, :spots]
    %li= link_to @spot.name, [:admin, @spot]
    %li.active= 'New shoot'

  = form_for @shoot, url: [:admin, @spot, :shoots], html: { class: 'form-horizontal' } do |f|
    = render partial: 'form', locals: { f: f }
    .form-group
      .col-sm-offset-2.col-sm-10
        = link_to 'Cancel', [:admin, @spot], class: 'btn btn-default'
        = f.submit 'Save', class: 'btn btn-primary'