.container
  %ol.breadcrumb
    %li= link_to 'Spots', [:admin, :spots]
    %li= link_to @spot.name, [:admin, @spot]
    %li= link_to 'Shoots', [:admin, @spot]
    %li.active= @shoot.shooted_at
    .pull-right
      = link_to 'Add photos', [:new, :admin, @spot, @shoot, :photo]

  .row
    - @shoot.photos.each do |photo|
      .col-lg-2
        .shoot.shoot_admin
          .content
            = image_tag photo.file.small.url