.container
  %ol.breadcrumb
    %li= link_to 'Spots', [:admin, :spots]
    %li= link_to @spot.name, [:admin, @spot]
    %li= link_to 'Shoots', [:admin, @spot]
    %li= link_to @shoot.shooted_at, [:admin, @spot, @shoot]
    %li.active New photos

  = form_for @photo, url: [:admin, @spot, @shoot, :photos], html: { class: 'form-horizontal' } do |f|
    = render partial: 'form', locals: { f: f }
    .form-group
      .col-sm-offset-2.col-sm-10
        = link_to 'Cancel', [:admin, @spot, @shoot], class: 'btn btn-default'
        = f.submit 'Save', class: 'btn btn-primary'