.form-group
  = f.label :first_name, class: 'col-sm-3 control-label input-required'
  .col-sm-9
    = f.text_field :first_name, class: 'form-control', placeholder: 'First name'
.form-group
  = f.label :last_name, class: 'col-sm-3 control-label'
  .col-sm-9
    = f.text_field :last_name, class: 'form-control', placeholder: 'Last name'
.form-group
  = f.label :email, class: 'col-sm-3 control-label input-required'
  .col-sm-9
    = f.text_field :email, class: 'form-control', placeholder: 'Email'
.form-group
  = f.label :password, class: 'col-sm-3 control-label input-required'
  .col-sm-9
    = f.password_field :password, class: 'form-control', placeholder: 'Password'
.form-group
  = f.label :confirmation, class: 'col-sm-3 control-label input-required'
  .col-sm-9
    = f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password confirmation'