.container
  %h2 My account
  .row
    .col-lg-6
      %h3 Account informations
      %hr
      .row
        .col-sm-3.label Name
        .col-sm-9= @user.name
      .row
        .col-sm-3.label Email
        .col-sm-9= @user.email
      .row
        .col-sm-3.label Password
        .col-sm-9 **********
      .row
        .col-sm-offset-3.col-sm-9
          = link_to 'Edit', edit_account_path, class: 'btn btn-primary'
    .col-lg-6
      %h3 Previous orders
      %hr
      %table.table
        %tbody
          - @user.orders.order('created_at desc').each do |order|
            %tr
              %td= order.created_at
              %td= order.payed_at