%li{class: controller_name.include?('home') && action_name.include?('index') ? 'active' : ''}
  = link_to 'Home', root_path
%li{class: ['spots', 'shoots'].include?(controller_name) ? 'active' : ''}
  = link_to 'Spots', spots_path
%li
  = link_to 'Blog', '#'
%li{class: controller_name.include?('home') && action_name.include?('contact') ? 'active' : ''}
  = link_to 'Contact', [:contact]
%li{class: ['sessions', 'users'].include?(controller_name) ? 'active' : ''}
  - if current_user
    = link_to 'My account', account_path
  - else
    = link_to 'Login', new_user_session_path