%li{class: controller_name.include?('users') ? 'active' : '' }
  = link_to 'Users', [:admin, :users]
%li{class: ['spots', 'shoots'].include?(controller_name) ? 'active' : ''}
  = link_to 'Spots', [:admin, :spots]
%li
  = link_to 'Orders', [:admin, :orders]
%li
  = link_to 'Schools', [:admin, :schools]