.container
  %h1 Contact us
  .row
    .col-lg-6
      %h3 By mail
      %hr
      = form_for @message, url: [:contact], html: { class: 'form-horizontal' } do |f|
        .form-group
          = f.label :name, class: 'col-sm-2 control-label'
          .col-sm-10
            = f.text_field :name, class: 'form-control', placeholder: 'Name'
        .form-group
          = f.label :email, class: 'col-sm-2 control-label'
          .col-sm-10
            = f.text_field :email, class: 'form-control', placeholder: 'Email'
        .form-group
          = f.label :subject, class: 'col-sm-2 control-label'
          .col-sm-10
            = f.text_field :subject, class: 'form-control', placeholder: 'Subject'
        .form-group
          = f.label :message, class: 'col-sm-2 control-label'
          .col-sm-10
            = f.text_area :body, class: 'form-control', placeholder: 'Message'
        .form-group
          .col-sm-offset-2.col-sm-10
            = f.submit 'Send', class: 'btn btn-primary'
    .col-lg-6
      %h3 Other way
      %hr
        .row
          .col-sm-4.label Facebook
          .col-sm-8= link_to 'Spotted.mu', 'http://www.facebook.com/spotted.mu'
        .row
          .col-sm-4.label Phone
          .col-sm-8 +230 5 909 72 69
        .row
          .col-sm-4.label On our home spot
          .col-sm-8
            #map_contact
              .map{data: {center: {lat: -20.463209, lng: 57.318416}, marker: {lat: -20.463209, lng: 57.318416, name: 'Le morne'}, zoom: 12}}