/ #cart
/   #item-count
/   %ul#items

= content_for :header do
  #teaser
    .container
      .article
        .title
          Have you been
          %span.spotted spotted
          ?
        .text
          Have you been riding recently?
          %br
          Maybe we got a picture of you, check our last shoot session.

#last_shoot
  .container
    %h2.center
      %i.icon-camera-outline
      Our latest shoot sessions
    .row
      - Shoot.order('shooted_at desc').limit(3).each do |shoot|
        .col-lg-4
          .shoot
            = link_to [shoot.spot, shoot] do
              .content
                = image_tag shoot.photos.first.file.medium.url
                %infos
                  %h3= shoot.spot.name
                  %i= shoot.shooted_at
                  .more= "#{shoot.photos.count} Shoots"
    .row
      .col-lg-12
        %center
          = link_to 'View more', spots_path, class: 'btn btn-green btn-lg'
#map
  .container
    %h2.center
      %i.icon-map
      Where were we?
    #map_canvas.map{data: {source: url_for([:markers, :spots])}}

#marketing
  .container
    .row
      %h2.center
        %i.icon-info
        How we work?
    .row
      .col-lg-4
        #on_spot
          .well.rounded
          %h3 On spot
          %p
            We usually move between our favorite spots to shoot but also to ride.
            Don't hesitate to come and chat with us about your session, the weather or everything else.
          = link_to 'Learn more', 'infos#spot', class: 'btn btn-dark btn-lg'
      .col-lg-4
        #private_session
          .well.rounded
          %h3 Private session
          %p
            You may wish for a private session. You can book a shoot for you or for you and your freinds.
            We will find out the best day together (light wind, waves) and here we go.
          = link_to 'Learn more', 'infos#private', class: 'btn btn-dark btn-lg'
      .col-lg-4
        #school_session
          .well.rounded
          %h3 School session
          %p
            You are a school (kitesurf, surf) and your student wish for pictures of their training.
            Let us know about that, will come, shoot and share pictures with your students.
          = link_to 'Learn more', 'infos#school', class: 'btn btn-dark btn-lg'