.container#spot
  %h2.center On spot
  .row
    .col-lg-3
      .shoot
        .content= image_tag 'private.png'
    .col-lg-6
      %p
        We usually move between our favorite spots to shoot but also to ride.
        Don't hesitate to come and chat with us about your session, the weather or everything else.
    .col-lg-3.center
      = mail_to 'hello@spotted.mu', 'Recommand a spot', class: 'btn btn-primary btn-lg'

.darken
  .container#private
    %h2.center Private session
    .row
      .col-lg-3
        .shoot
          .content= image_tag 'private.png'
      .col-lg-6
        %p
          You may wish for a private session. You can book a shoot for you or for you and your freinds.
          We will find out the best day together (light wind, waves) and here we go.
      .col-lg-3.center
        = mail_to 'hello@spotted.mu', 'Book now', class: 'btn btn-primary btn-lg'

.container#school
  %h2.center School session
  .row
    .col-lg-3
      .shoot
        .content= image_tag 'private.png'
    .col-lg-6
      %p
        You are a school (kitesurf, surf) and your student wish for pictures of their training.
        Let us know about that, will come, shoot and share pictures with your students.
    .col-lg-3.center
      = mail_to 'hello@spotted.mu', 'Book now', class: 'btn btn-primary btn-lg'