.container
  .row
    .col-lg-6
      %h2 Sign in

      = form_for resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' } do |f|
        .form-group
          = f.label :email, class: 'col-sm-2 control-label'
          .col-sm-10
            = f.email_field :email, class: 'form-control', placeholder: 'Email'

        .form-group
          = f.label :password, class: 'col-sm-2 control-label'
          .col-sm-10
            = f.password_field :password, class: 'form-control', placeholder: 'Password'

        - if devise_mapping.rememberable?
          .form-group
            .col-sm-offset-2.col-sm-10
              = f.check_box :remember_me
              = f.label :remember_me

        .form-group
          .col-sm-offset-2.col-sm-10
            = f.submit "Sign in", class: 'btn btn-primary'

    .col-lg-6
      %h2 Register

      = form_for @user ||= User.new, url: registration_path(@user), html: { class: 'form-horizontal' } do |f|
        = render partial: 'users/form_new', locals: { f: f }
        .form-group
          .col-sm-offset-3.col-sm-9
            = f.submit "Register", class: 'btn btn-primary'