.form-group
  = f.label :name, class: 'col-sm-2 control-label'
  .col-sm-10
    = f.text_field :name, class: 'form-control', placeholder: 'Name'
.form-group
  = f.label :country, class: 'col-sm-2 control-label'
  .col-sm-10
    = f.text_field :country, class: 'form-control', placeholder: 'Country'