.container
  %ol.breadcrumb
    %li.active Spots
    .pull-right
      = link_to 'New spot', new_admin_spot_path

  %table.table
    %thead
      %tr
        %th Name
        %th Country
        %th Total of shoots
        %th Total of photos
        %th
    %tbody
      - @spots.each do |spot|
        %tr
          %td= link_to spot.name, [:admin, spot]
          %td= spot.country
          %td= spot.shoots.count
          %td= spot.photos.count
          %td