.container
  %ol.breadcrumb
    %li= link_to 'Spots', [:admin, :spots]
    %li.active New spot

  = form_for @spot, url: [:admin, :spots], html: { class: 'form-horizontal' } do |f|
    = render partial: 'form', locals: { f: f }
    .form-group
      .col-sm-offset-2.col-sm-10
        = link_to 'Cancel', [:admin, :spots], class: 'btn btn-default'
        = f.submit 'Save', class: 'btn btn-primary'