.container
  %ol.breadcrumb
    %li= link_to 'Spots', [:admin, :spots]
    %li.active= "#{@spot.name} (#{@spot.country})"
    .pull-right
      = link_to 'New shoot', [:new, :admin, @spot, :shoot]

  %table.table
    %thead
      %tr
        %th Session date
        %th Number of photos
        %th
    %tbody
      - @spot.shoots.each do |shoot|
        %tr
          %td= link_to shoot.shooted_at, [:admin, @spot, shoot]
          %td= shoot.photos.count
          %td