//= require_self
//= require_tree .

@import bootstrap
@import fonts
@import fontello

+include-fonts

body
  font-weight: 200
  letter-spacing: .07em
  text-rendering: optimizeLegibility

a:hover
  text-decoration: none

.well
  box-shadow: none
  border-radius: 0
  border: 0

.spotted
  color: #98d82a !important

header
  margin-bottom: 50px
  img
    width: 100%
  #teaser
    height: 684px
    background: #fff url(image_path('header_bg.jpg')) no-repeat fixed center
    background-size: cover
    .container
      .article
        position: absolute
        bottom: 130px
        .title
          font-family: $oswaldbold
          font-size: 32px
          color: #fff
          text-transform: uppercase
        .text
          font-family: $oswaldlight
          margin-top: 20px
          font-size: 24px
          color: #fff

content
  padding: 50px 0
  display: block

h1
  color: #424b51
  font-family: $oswaldbold

h2
  color: #424b51
  font-family: $oswaldbold
  font-weight: normal
  &.center
    text-align: center

h3
  color: #424b51
  font-family: $oswaldlight
  font-size: 18px
  &.center
    text-align: center

.navbar
  background-color: white
  padding: 32px 18px 0

.navbar-brand,
.navbar-nav > li > a
  font-family: $oswaldbold
  text-transform: uppercase
  color: #62645c
  font-size: 14px
  font-weight: 500
  &:hover
    color: #98d82a
    background: transparent

.navbar-nav > li.active > a
  color: #98d82a

.navbar-brand
  font-size: 30px
  font-weight: 400
  color: #98d82a

content
  h2
    margin-bottom: 50px
  .shoot_admin
    border: 5px solid #F4F4F4
  .shoot
    background-size: cover
    position: relative
    width: 100%
    &:before
      content: ''
      display: block
      padding-top: 100%
    .overlay,
    .content
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
    .overlay
      background-color: rgba(0.2, 0.2, 0.2, 0.8)
      width: 100%
      height: 100%
      padding-top: 45%
      color: white
      a
        text-decoration: none
      i
        font-size: 20px
        color: white
    text-align: center
    i
      font-size: 12px
    img
      width: 100%
    h3
      margin-top: 0
      font-weight: bold

#map
  margin-top: 50px
  padding: 50px 0
  background-color: #f4f4f4
#map_contact
  margin-bottom: 50px
  background-size: cover
  position: relative
  width: 100%
  &:before
    content: ''
    display: block
    padding-top: 100%
  .map
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
#map_canvas
  height: 500px

#marketing
  padding: 50px 0
  text-align: center
  .btn-dark
    font-size: 12px
    background-color: #424b51
    color: white
    font-family: $oswaldlight
    border-radius: 0
    text-transform: uppercase
    &:hover
      color: #424b51
      background-color: #e4e4e4
  #private_session
    .rounded
      background: url(image_path('private.png'))
      background-size: cover
      background-position: -20px
  .rounded
    margin: 0 auto
    width: 150px
    height: 150px
    border-radius: 75px
    border: 5px solid #e3e3e3
  h3
    margin-top: 50px
  p
    text-align: justify

#shoot_at_spot,
#last_shoot
  .btn-green
    background-color: #98d82a
    color: white
    text-transform: uppercase
    border-radius: 0
    font-family: $oswaldlight
    &:hover
      background-color: #f4f4f4
      color: #98d82a
  infos
    position: absolute
    bottom: 0
    display: block
    padding: 20px 0
    color: white
    width: 100%
    overflow: hidden
    background-color: rgba(0.2, 0.2, 0.2, 0.8)
    .more
      color: #98d82a
    h3
      color: white

footer
  background-color: #2f3f4e
  padding: 50px 0
  color: white
  h2
    color: white
    padding: 0
    margin: 0 0 50px 0
    text-transform: uppercase
    color: #98d82a
  .social
    text-align: center
    font-size: 24px
  a
    color: white
    &:hover
      color: #F4F4F4
      text-decoration: none
  .col-lg-4:last-child
    text-align: right
  ul
    list-style: none

.navbar
  border: 0

ul.navbar-nav
  li.active
    border-bottom: 5px solid #98d82a

.btn
  border-radius: 0

.input-required:after
  content: '*'

.container
  .label
    font-weight: bold
    color: #333
    font-size: 14px
    text-align: right

.center
  text-align: center

.darken
  background-color: #f4f4f4

#private,
#spot,
#school
  padding-top: 50px