[class^="icon-"]:before,
[class*=" icon-"]:before
  font-family: "fontello"
  font-style: normal
  font-weight: normal
  speak: none

  display: inline-block
  text-decoration: inherit
  width: 1em
  margin-right: .2em
  text-align: center
  /* opacity: .8 */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal
  text-transform: none

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em

  /* you can be more comfortable with increased icons size */
  /* font-size: 120% */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3) */

.icon-twitter:before
  content: '\e800'

.icon-resize-full-circle:before
  content: '\e809'

.icon-gplus:before
  content: '\e802'

.icon-instagram:before
  content: '\e803'

.icon-mail:before
  content: '\e804'

.icon-heart-1:before
  content: '\e811'

.icon-heart-filled:before
  content: '\e812'

.icon-star:before
  content: '\e813'

.icon-star-filled:before
  content: '\e814'

.icon-user:before
  content: '\e80a'

.icon-user-add:before
  content: '\e80e'

.icon-user-delete:before
  content: '\e80f'

.icon-videocam-outline:before
  content: '\e819'

.icon-camera-outline:before
  content: '\e818'

.icon-ok:before
  content: '\e810'

.icon-cancel:before
  content: '\e815'

.icon-facebook-squared:before
  content: '\e801'

.icon-cancel-circled:before
  content: '\e817'

.icon-info:before
  content: '\e81a'

.icon-home:before
  content: '\e808'

.icon-attach:before
  content: '\e81b'

.icon-lock-filled:before
  content: '\e80c'

.icon-eye:before
  content: '\e81c'

.icon-pencil-1:before
  content: '\e81d'

.icon-location:before
  content: '\e81f'

.icon-map:before
  content: '\e81e'

.icon-direction-outline:before
  content: '\e80b'

.icon-basket:before
  content: '\e805'

.icon-book-open:before
  content: '\e80d'

.icon-chat:before
  content: '\e806'

.icon-globe:before
  content: '\e807'

.icon-cancel-alt-filled:before
  content: '\e816'
