@mixin font_src($src, $svg_hash)
  $eot:    font_url($src + '.eot')
  $woff:   font_url($src + '.woff') format('woff')
  $ttf:    font_url($src + '.ttf') format('truetype')

  $iefix:  url(font_path($src + '.eot') + '?#iefix') format('embedded-opentype')
  $svg:    url(font_path($src + '.svg') + '#' + $svg_hash) format('svg')

  src: $eot
  src: $iefix, $woff, $ttf, $svg

@mixin include_fonts
  @font-face
    font-family:  'Museo300Regular'
    font-weight:  normal
    font-style:   normal
    +font-src('Museo300-Regular-webfont', 'Museo300Regular')

  @font-face
    font-family:  'Fontello'
    font-weight:  normal
    font-style:   normal
    +font-src('fontello', 'fontello')

  @font-face
    font-family: 'Oswald bold'
    font-weight:  normal
    font-style:   normal
    +font-src('oswald-bold-webfont', 'oswaldbold')

  @font-face
    font-family: 'Oswald light'
    font-weight:  normal
    font-style:   normal
    +font-src('oswald-light-webfont', 'oswaldlight')

$helvetica:   'Helvetica Neue', Helvetica, Arial, sans-serif
$museo:       'Museo300Regular', $helvetica
$fontello:    'Fontello'
$oswaldbold:  'Oswald bold', Arial
$oswaldlight: 'Oswald light', Arial