.container
  %ol.breadcrumb
    %li= link_to 'Users', [:admin, :users]
    %li.active= @user.name

  = form_for @user, url: [:admin, @user], html: { class: 'form-horizontal' } do |f|
    .row
      .col-lg-6
        %h3 Account informations
        %hr
        .form-group
          = f.label :first_name, class: 'col-sm-3 control-label input-required'
          .col-sm-9
            = f.text_field :first_name, class: 'form-control', placeholder: 'First name'
        .form-group
          = f.label :last_name, class: 'col-sm-3 control-label'
          .col-sm-9
            = f.text_field :last_name, class: 'form-control', placeholder: 'Last name'
        .form-group
          = f.label :email, class: 'col-sm-3 control-label input-required'
          .col-sm-9
            = f.text_field :email, class: 'form-control', placeholder: 'Email'
      .col-lg-6
        %h3 Authentification informations
        %hr
        .form-group
          = f.label :password, class: 'col-sm-3 control-label input-required'
          .col-sm-9
            = f.password_field :password, class: 'form-control', placeholder: 'Password'
        .form-group
          = f.label :confirmation, class: 'col-sm-3 control-label input-required'
          .col-sm-9
            = f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password confirmation'
    .row
      .col-lg-6
        %h3 Permissions
        %hr
        .form-group
          = f.label :admin, class: 'col-sm-3 control-label'
          .col-sm-9.checkbox
            = f.check_box :admin
    .row
      .col-lg-6
        .form-group
          .col-lg-offset-3.col-lg-9
            = link_to 'Cancel', [:admin, @user], class: 'btn btn-default'
            = f.submit 'Save', class: 'btn btn-primary'