.container
  %ol.breadcrumb
    %li.active Users

  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th eMail
        %th.col-sm-1
    %tbody
      - @users.each do |user|
        %tr
          %td= link_to user.name, [:admin, user]
          %td= mail_to user.email
          %td
            = link_to [:edit, :admin, user] do
              %i.icon-pencil-1
            %i.icon-cancel-alt-filled