.container
  %ol.breadcrumb
    %li= link_to 'Users', [:admin, :users]
    %li.active= @user.name
    .pull-right
      = link_to 'Edit', [:edit, :admin, @user]

  .row
    - if @user.confirmed_at.nil?
      .col-lg-12
        .alert.alert-danger Unconfirmed user
    .col-lg-6
      %h3 Account informations
      %hr
      .row
        .col-sm-3.label Name
        .col-sm-9= @user.name
      .row
        .col-sm-3.label Email
        .col-sm-9= @user.email
    .col-lg-6
      %h3 Orders
      %hr