!!!
%html
  %head
    %meta{name: "viewport", content: "initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width"}
    %title Spotted
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header
      %nav.navbar.navbar-fixed-top
        .container
          = link_to 'Spotted', root_path, class: 'navbar-brand'
          .collapse.navbar-collapse
            %ul.nav.navbar-nav.pull-right
              = render partial: controller.class.name.split('::').first == 'Admin' ? 'shared/menu_admin' : 'shared/menu_public'
      = yield :header

    %content
      = yield

    %footer
      .container
        .row
          .col-lg-4
            %h2 Spotted
            Developped by uberPixel Ltd
          .col-lg-4.social
            = link_to 'https://www.facebook.com/spotted.mu' do
              %i.icon-facebook-squared
            %i.icon-twitter
            %i.icon-gplus
            %i.icon-instagram
            = mail_to 'hello@spotted.mu' do
              %i.icon-mail
          .col-lg-4
            %ul
              %li
                = link_to root_path do
                  Home
                  %i.icon-home
              %li
                = link_to spots_path do
                  Spots
                  %i.icon-globe
              %li
                = link_to '#' do
                  Blog
                  %i.icon-book-open
              %li
                = link_to [:contact] do
                  Contact
                  %i.icon-direction-outline
              %li
                = link_to '#' do
                  Login
                  %i.icon-lock-filled

    %script{src: "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"}
    = javascript_include_tag "application", "data-turbolinks-track" => true